<div class="posts">
  <div class="header">
    <div class="header-title">wispr</div>
    <div class="user-area">
      <% if @user_signed_in %>
        <%= "You are signed in." %> &nbsp
        <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
      <% else %>
        <span>
          You are not signed in.
          <%= link_to "Sign in", new_user_session_path, method: :get %>
           or 
          <%= link_to "Sign up", new_user_registration_path, method: :get %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="body">
    <div class="body-title">Latest wisprs:</div>
    <% @posts.reverse_each do |post| %>
      <div class="post-box">
        <p class="post-body"><%= "\"#{post.body}\"" %></p>
        <p class="post-author">
          <% if @user_signed_in %>
            <%= "- #{@users.find(post.user_id).email}" %>
          <% else %>
            <%= "- Anonymous" %>
          <% end %>
          <span class="timestamp"><%= " (#{(Time.now - post.created_at).round/60/60} hours ago)" %></span>
        </p>
      </div>
    <% end %>
  </div>
  <div class="footer">
    <% if @user_signed_in %>
      <div class="new-post">
        <%= link_to "New wispr", new_post_path, method: :get %>
      </div>
    <% else %>
      <div class="not-signed-in">
        <%= link_to "Sign in", new_user_session_path, method: :get %> to post a wispr!
      </div>
    <% end %>
  </div>
</div>