<div class="new-post">

	<% @post.errors.full_messages.each do |msg| %>
		<div style='color: red;'><%= msg %></div>
	<% end %>

	<%= form_with model: @post, url: posts_path, method: :post, class: "new-post-form" do |form| %>
		<div class="new-post-input-container">
			<h2><%= form.label :body, 'my whispr: ' %></h2><br>
			<%= form.text_area :body, class: "new-post-input-field" %>
		</div>
		<div>
			<%= form.submit 'Submit', class: "new-post-submit-button" %>
		</div>
	<% end %>
</div>

