<% @post.errors.full_messages.each do |msg| %>
	<div style='color: red;'><%= msg %></div>
<% end %>

<%= form_with model: @post, url: posts_path, method: :post do |form| %>
	<ul>
		<li>
			<%= form.label :body, 'Secret: ' %>
			<%= form.text_area :body %>			
		</li>
		<li>
			<%= form.submit 'Submit' %>
		</li>
	</ul>
<% end %>